.stafi_liquiding_proces_slider{
  position: absolute;
  width:253px;
  min-height:569px;
  top:110px;
  right: 0px;
  background-color: #2B3239;
  border-radius: 6px; 
  border:1px solid #444444;
  border-right-width: 0px;
  z-index: 1000;
  .header{
      display: flex; 
      align-items: center;
      padding:20px;
      padding-left: 40px;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      img.logo{
          margin-right: 19px;
      }
      img.close{
          position: absolute;
          top: 15px;
          left: 15px;
          cursor: pointer;
      }
  }
  .body{
      padding:0px 20px 21px 15px; 
  }
  animation:stafi_liquiding_proces_slider_show 0.5s;
}

@keyframes stafi_liquiding_proces_slider_show
{
  from {
      right: -253px;
  }
  to {
      right:0px;
  }
}